body{
/    margin: 0 auto;
    background-color:white;

/*	--------- FONT FAMILY --------
 	following are some optional font families. Usually a family 
	is safer to choose than a specific font, 
	which may not be on the users computer		*/
     font-family:Georgia, Palatino, serif;
/    font-family:"Book Antiqua", Palatino, serif;
/    font-family:Arial, Helvetica, sans-serif;
/    font-family:Tahoma, Verdana, Geneva, sans-serif;
/    font-family:Courier, monospace;
/    font-family:"Times New Roman", Times, serif;
/    font-family:"Quattrocento",serif;

/*	-------------- COLOR OPTIONS ------------
 	following are additional color options for base font
	you could uncomment another one to easily change the base color 
	or add one to a specific element style below         */		
/    color: #333333; /* dark gray not black */
    color: #000000; /* black */
/    color: #666666; /* medium gray  black */	
/    color: #E3E3E3; /* very light gray */
/    color: white; 

/    line-height: 1;
/    max-width: 960px;
/    max-width: 800px;
/    padding: 30px;
    font-size: 18px;
}


p   {
/    font-size: 22px;
    line-height: 150%;
/    max-width: 540px;
/    max-width: 960px;
    font-weight: 400;
     color: #333333;
     text-align: justify;
}

h1, h2, h3, h4 {
/    color: #111111;
    font-weight: 400;
}

h2, h3, h4, h5, p {
    padding: 0;
}

h1 {
/    font-size:150%;
/    padding: 0px;
    font-variant:small-caps;
}

h2 {
/    font-size:130%;
}

h3 {
/    font-size:100%;
/    margin-top: 50px;
}
h4 {
/    font-size:100%
/    font-variant:small-caps;

}
h5 {
    font-size:80%
    font-weight: 100;
}

h6 {
    font-size:80%
    font-weight: 100;
    color:red;
    font-variant:small-caps;
}
a {
/    color: #007a9d;
    color: #1f8aa7;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    text-decoration:none;
}
a:hover {
/    color: #e05151;
	text-decoration:none;
}
a:visited {
/    color: black;
}
ul, ol {
/    padding: 0;
/    margin: 0px 0px 0px 4%;
}
ul {
/    list-style-type: square;
/    list-style-position: inside;

}

li {
/     line-height:150%    
}
li ul, li ul {
/    margin-left: 6%;
}

pre {
    padding: 0px 24px;
    max-width: 800px;
    white-space: pre-wrap;
}
code {
    font-family: Consolas, Monaco, Andale Mono, monospace;
    line-height: 1.5;
    font-size: 13px;
}
aside {
    display: block;
    float: right;
    width: 390px;
}
blockquote {
    border-left:.5em solid #eee;
    padding: 0 1em;
    margin-left:0;
    max-width: 700px;
}
blockquote  cite {
 /   font-size:14px;
    line-height:20px;
    color:#bfbfbf;
}
blockquote cite:before {
    content: '\2014 \00A0';
}

blockquote p {  
    color: #666;
    max-width: 650px;
}
hr {
/    width: 540px;
    text-align: left;
    margin: 0 auto 0 0;
    color: #999;
}

/*from now on added by me */

.version {
	font-size:14px;
	text-align:right;
	color: #999;
}

.bigtitle {
	margin-top: 0px;
	margin-bottom:80px;
	font-size:70px;
}
.pretitle{
	margin-bottom: 5px;
	margin-top: 100px;
}

img.center {
/	display: block;
/	margin-left:auto;
/	margin-right:auto;
}

.figure img {
	display: block;
	margin-left:auto;
	margin-right:auto;
/
/	vertical-align: middle;
/	margin: 10px;
}

.figure{
	margin-top: 15px;
	margin-bottom: 15px;
/	margin: 0 auto;
/	display:block;
}

.caption {
	text-align:center;
}

.titlebar {
	padding-bottom: 50px;
	padding-top: 50px;
	background: #FBF18E;
}

.qheader {
	background: #FBF18E;
}

.toc {
	padding-top:30px;
/	background: #6ab8ce;
	background: white;
/	color: #fbf18e;
}

.toc a {
	color: #333333;
}

.toc h2 {
	color: #1f8aa7;
}

.introduction {
	background: white;
}

.downloadpanel {
	background: white;
}
